{% block content %}
<html>
  <head>
    <title> Navigation Bar Here </title>
    <link href="../static/style.css" rel='stylesheet'>
  </head>
  <body>
  <header class="masthead">
    <h1 class="masthead-heading">Bates Textbook Exchange!</h1>
        
  
  
    
    <div id="nav"><br>
    
      <div id="nav_wrapper"><br>
      
      
      
      <ul>
        <li><a href="#">Home Menu</a></li>
        <li><a href="https://comand-line-rfeldman.c9users.io/page/1">Buy</a></li>
        <li><a href="https://comand-line-rfeldman.c9users.io/book/add">Sell</a></li>
        <li><a href="https://comand-line-rfeldman.c9users.io/login">Login</a></li>
        <li><a href="https://comand-line-rfeldman.c9users.io/register">Sign Up</a></li>
      </ul>
      </div>
    </div>
    <div class='page_title'>
    
    
    </header>
     
   <section class ='text'>
    <section class = "about">
        <h1>What We Do:</h1>
        <p>The goal of this application is to promote a cheap and accessible way for 
		students to buy and sell textbooks.  Stop getting ripped off by the bookstore 
		and start exchanging books here!  We dont actually deal with the transaction.  
		All we do is provide a platform for students to upload books and get in contact 
		with sellers.  Once you find the book you want, its up to you to agree on price, and 
		when/where to meet.  Enjoy. </p>
        
    </section>
    <section class = "buy">
        <h1>Buy!</h1>
        <p>In order to buy textbooks, click on the 'Buy' button above.
        We don't actually deal with the textbook transaction.  We just put you in contact with a seller and then you
        can negotiate.</p>
    </section>
    <section class = "sell">
        <h1>Sell!</h1>
        <p>Looking to sell a textbook?  Upload your book's information on the Bates Textbook Exchange!
        If someone is looking to buy your book, they will reach out to you.  Its your guys job to negotiate price,
        where to meet, and when to meet.</p>
      </section>
      <section class = "logout">
        <p> click <a href="https://comand-line-rfeldman.c9users.io/logout">here</a> to go to logout </p>
     </section>
    </section>
  </body>
</html>
{% endblock %}